
<div class="container bg">

  <form enctype="multipart/form-data" *ngIf="auth.isAuthenticated()" class="postForm" #postForm="ngForm" (ngSubmit)="onSave(postForm.value)" novalidate>
    <table border='1'>
      <tr>
        <td>title</td>
        <td>
          <input name="id" type="hidden" [(ngModel)]="id" >
          <input name="title" type="text" required [(ngModel)]="name" >
        </td>
      </tr>
      <tr>
        <td>content</td>
        <td>
          <!-- myFileInputField -->
          <input name="content" type="file" (change)="onFileSelected($event)" required [(ngModel)]="content" >

        </td>
      </tr>
      <tr>
        <td>content2</td>
        <td>
          <!-- myFileInputField -->
          <input name="content2" type="file" (change)="onFileSelected2($event)" required [(ngModel)]="content" >

        </td>
      </tr>

      <tr>
        <td>body text</td>
        <td>
          <!-- myFileInputField -->
          <input name="bodyText" type="text" required [(ngModel)]="bodyText" >

        </td>
      </tr>
      <tr>
        <td colspan="2">
          <button>{{valButton}}</button>
          <!-- <a (click)="toggleCreate()">Toggle</a> -->
          <a (click)="edit(postData)">Edit</a>
        </td>
      </tr>
    </table>
  </form>

  <div class="row">
    <div class="col-md-12 blog">

      <div class="next-container">
        <span *ngIf="recentAlert" class="recent-alert">This is the most recent post!</span>
        <img src="assets/next.png" class="next" (click)="getNext()">
      </div>

      <div class="col-md-12 blog-item">
        <h1 class="blog-title">{{postData?.title}}</h1>
        <img class="blog-img" src="{{getImage(postData.content)}}">
        <img class="blog-img" src="{{getImage(postData.content2)}}">
        <p class="body-text"> {{postData?.bodyText}}</p>
        <a class="postForm" *ngIf="auth.isAuthenticated()" (click)="delete(postData._id)">Delete</a>
        <!-- <a *ngIf="auth.isAuthenticated() && valButton==='Save'" (click)="edit(postData)">Edit</a> -->
      </div>

      <div class="previous-container">
        <span *ngIf="oldestAlert" class="oldest-alert">This is the oldest post!</span>
        <img src="assets/previous.png" class="previous" (click)="getPrevious()">
      </div>

    </div>
  </div>

</div>
