.bg {
}
.blog {
  /* height: 800px; */
  margin-top: 30px;
  background-color: #003366;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding:10px;
  border-radius: 10px;

   /* #e89312ba */

  /* overflow: auto; */
}

@font-face {
font-family: 'DrunkenSailor';
src: url('../../assets/DrunkenSailor.ttf')  format('truetype');
font-weight: bold;
}

.blog-img {
  width:480px;
  padding:10px;
  display: block;
  margin: auto;
}


.blog-title {
  text-align: center;
  font-size: 100px;
  color: black;
  font-family: 'DrunkenSailor';
}

.blog-item {
  background-color: #e6e6e6;
  margin: auto;
  margin-bottom:10px;
  border-radius: 10px;
  /* overflow: auto; */
}

.blog-item-container {
  margin-bottom: 10px;
}

.postForm {
  margin: auto;
  display: table;
}

.next {
  position: absolute;
  height: 60px;
  right: 15px;
  margin: auto;
  top: 96%;
  z-index: 1;
  border-radius: 10px;
}

.previous {
  position: absolute;
  height: 60px;
  left: 15px;
  margin: auto;
  top: 96%;
  border-radius: 10px;
}


.body-text {
  color: #f3b559;
  text-align: center;
  width: 500px;
  margin: auto;
  overflow-wrap: break-word;
}
